*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }
body { line-height: inherit; }
img, video { max-width: 100%; height: auto; display: block; }
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
a { color: inherit; }
[hidden] { display: none; }